
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: calc(50vh - 250px);
}

.search-box {
    background: transparent;
    display: flex;
    padding: 15px;
    margin: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.search-box i {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}
.search-box button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}

.search-box input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 20px;
    width: 100%;

}

.search-box input::placeholder {
    text-align: center;
    color: #fff;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.weather-box img {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-box h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
}

.weather-box h1 span {
    position: absolute;
    font-size: 30px;
    margin-left: 5px;
}

.weather-box p {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.weather-info {
    position: absolute;
    bottom: 40;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 20px;
    width: 400px;
}

.weather-info .humidity,
.weather-info .wind {
    display: flex;
    align-items: center;
    
}
.weather-info i{
    font-size: 56px;
    color: #fff;
}
.weather-info .text{
    margin-left: 10px;
    color: #fff;
    font-weight: 300;
}

